@import "tailwindcss";

:root {
  --background: #f8f4ea;
  --foreground: #13233a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-ibm-plex-mono);
}

body {
  background:
    linear-gradient(120deg, rgba(255, 214, 159, 0.3), rgba(255, 255, 255, 0))
      no-repeat,
    var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk), sans-serif;
}
